form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5%;
}

#createAccount, #continueAsGuest{
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 5px;
}

#createAccount:hover, #continueAsGuest:hover{
  cursor: pointer;
  color: red;
}

.inputfield{
  height: 20px;
  font-size: 17px;
}

#errorMsg{
  color:red;
  font-size: 12px;
}